* {
  font-family: "Raleway", sans-serif;
  background-color: #efefef;
}

header{
  width: 100%;
  height: 60px;
  padding: 1em;
  margin: 0;
  border-bottom: solid 2px #4f4f4f;
}

header img{
  margin: 0 10px;
  float: left;
  height: 60px;
  align-items: center;
}

header ul{
  list-style-type: none;
  display: block flex;
  align-items: center;
}

a{
  text-decoration: none;
  color: #2f2f2f;
}

p {
  font-size: 40px;
  color: #2f2f2f;
  position: absolute;
  bottom: 0;
}

.header_links {
  margin: 0 5%;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

div #main_content{
  margin: 2em 1em;
}
canvas {
  background-color: #4f4f4f;
  width: 640px;
  height: 360px;
}

div #btn1 {
  background-color: rgb(121, 232, 121);
  border:3px solid rgb(76, 144, 76) ;
  position:absolute;
  float:left;
  height:240px;
  width:160px;
  margin: 0,2em;
  top:0 px;
  left: 0px;
}

div #btn2 {
  background-color: rgb(121, 214, 232);
  border:3px solid rgb(76, 144, 138) ;
  position:absolute;
  float:left;
  height:240px;
  width:160px;
  margin: 0,2em;
  top:0 px;
  left: 160px;
}

div #btn3 {
  background-color: rgb(232, 121, 121);
  border:3px solid rgb(144, 76, 76) ;
  position:absolute;
  float:left;
  height:240px;
  width:160px;
  margin: 0,2em;
  top:0 px;
  left: 320px;
}

div #btn4 {
  background-color: rgb(188, 121, 232);
  border:3px solid rgb(119, 76, 144) ;
  position:absolute;
  float:left;
  height:240px;
  width:160px;
  margin: 0,2em;
  top:0 px;
  left: 480px;
}

.feedback{
  height: 45px;
  width: 200px;
  float: left;
  color: #efefef;
  background-color: #2f2f2f;
  margin: 0.5em;
  text-align: center;
  font-size: 17px;
  line-height: 45px;
  border: solid 1px #2f2f2f;
  transition: all 0.4s cubic-bezier(0.76, 0, 0.24, 1);
  }

.feedback:hover,
.feedback:focus {
  background-color: #efefef;
  color: #2f2f2f;
}